.product-info
	padding: fluid(16,20)
	border-radius: var(--radius-m)
	border: var(--border-default)

	&__top
		display: flex
		gap: 16px
		margin-bottom: 16px

		@include media('min', 'tablet')
			padding-bottom: 12px
			border-bottom: var(--border-default)

		@include media('max', 'tablet')
			margin-bottom: 20px

	&__title
		flex-grow: 1

	&__icon
		width: fluid(24,28)
		height: fluid(24,28)
		flex-shrink: 0
		display: flex
		align-items: center
		justify-content: center
		border-radius: var(--radius-s)
		background-color: var(--color-neutral-500)
		color: var(--color-neutral-100)

		&-img
			display: block
			width: 16px
			height: 16px
			object-fit: contain
			color: currentColor

	&__cont
		display: flex
		flex-direction: column
		align-items: flex-start
		gap: fluid(4,8)

	&__text
		font-size: var(--font-size-text-m)
		line-height: var(--line-height-text)

