.product-sticky
	position: sticky
	order: 10
	z-index: var(--z-index-header)
	bottom: -1px
	display: flex
	flex-direction: column
	gap: 8px
	padding-top: 8px
	padding-bottom: 8px
	background-color: var(--color-primary-200)
	margin-top: fluid(40,48)
	box-shadow: var(--shadow-s)

	@include out-wrapper

	@include media('min', 'tablet')
		display: none

	&__price
		--price-font-size: 20px
		--price-old-font-size: var(--font-size-text-s)
		--price-direction: row
		--price-gap: 8px

		align-items: center
		justify-content: flex-end

	&__sale
		.sale-bage
			--sale-bage-border-color: var(--color-primary-300)

		.dropdown__body
			top: auto !important
			bottom: 100%
			min-width: 100%

		.dropdown__content
			margin-top: 0
			margin-bottom: 8px

		.dropdown__list
			max-height: calc(var(--app-height) - 200px)
			overflow: auto

	&__btns
		flex-shrink: 0
		display: flex
		gap: 10px
		margin-top: auto

		.btn
			&:only-child
				flex-grow: 1

	&__btn-cart
		flex-grow: 1
		flex-shrink: 0

		.quantity
			max-width: 100%
