.btn-cart
	&__count
		display: flex
		justify-content: center
		padding: 0 4px
		min-width: 20px
		border-radius: var(--radius-s)
		background-color: rgba(var(--color-neutral-100-rgb), .2)
		font-size: var(--font-size-text-s)
		font-weight: 400
