.burger
	position: relative
	display: flex
	align-items: center
	justify-content: center
	width: 40px
	height: 40px
	border-radius: var(--radius-s)
	border: 0
	background-color: var(--color-primary-200)
	color: var(--color-neutral-900)

	&__icon
		width: 16px
		height: 16px
		color: currentColor
