.dropdown
	--dropdown-py: 16px
	--dropdown-px: 16px

	--dropdown-width: 280px

	--dropdown-border-width: 2px
	--dropdown-border-style: solid
	--dropdown-border-color: transparent
	--dropdown-border-radius: var(--radius-s)

	--dropdow-bg-color: var(--color-neutral-100)

	position: relative
	display: flex
	flex-direction: column

	&.active
		& .dropdown
			&__icon
				transform: rotate(180deg)

	&__trigger
		display: inline-flex

	&__body
		position: absolute
		top: 100%
		z-index: var(--z-index-dropdown)
		width: max-content
		max-width: var(--dropdown-width)

	&__content
		padding: var(--dropdown-py) var(--dropdown-px)
		border: var(--dropdown-border-width) var(--dropdown-border-style) var(--dropdown-border-color)
		border-radius: var(--dropdown-border-radius)
		background-color: var(--dropdow-bg-color)
		box-shadow: var(--shadow-m)
		margin-top: 12px

	&__icon
		transition: transform .3s ease

	&__list
		display: flex
		flex-direction: column
		gap: 8px

		.link
			--link-color-active: var(--color-primary-600)


	&--catalog
		--dropdown-py: 24px
		--dropdown-px: 24px

		--dropdown-width: 1040px

		@include media("max", "laptop")
			--dropdown-width: calc(100% - calc(186px + 40px + var(--wrapper-padding) * 2))

.dropdown-enter-active,
.dropdown-leave-active
	transition: opacity .3s ease, transform .3s ease

.dropdown-enter-from,
.dropdown-leave-to
	opacity: 0
	transform: translateY(-8px)
