.img
	--width: auto
	--aspect-ratio: auto
	--radius: 0
	--object-fit: none
	//-----------------
	display: block
	width: var(--width)
	max-width: 100%
	height: auto
	aspect-ratio: var(--aspect-ratio)
	overflow: hidden
	border-radius: var(--radius)

	&__image
		display: block
		width: 100%
		height: 100%
		object-fit: var(--object-fit)
