.title
	--t-font-family: var(--font-family-primary)
	--t-font-size: var(--font-size)
	--t-font-weight: 600
	--t-line-height: var(--line-height)
	--t-text-transform: none

	font-family: var(--t-font-family)
	font-size: var(--t-font-size)
	font-weight: var(--t-font-weight)
	line-height: var(--t-line-height)
	text-transform: var(--t-text-transform)
	text-wrap: balance

.title--h1
	--t-font-size: var(--font-size-h1)
	--t-line-height: 1.2

	@include media("max", "mobile-xl")
		--t-line-height: 1.3

.title--h2
	--t-font-size: var(--font-size-h2)
	--t-line-height: 1.25

	@include media("max", "mobile-xl")
		--t-line-height: 1.4

.title--h3
	--t-font-size: var(--font-size-h3)
	--t-line-height: 1.3

	@include media("max", "mobile-xl")
		--t-line-height: 1.4

.title--h4
	--t-font-size: var(--font-size-h4)
	--t-line-height: 1.35

	@include media("max", "mobile-xl")
		--t-line-height: 1.4

.title--h5
	--t-font-size: var(--font-size-h5)
	--t-line-height: 1.4

.title--h6
	--t-font-size: var(--font-size-h6)
	--t-line-height: 1.4
