.banner
	width: 100%
	background-color: $color-primary-600

	&__wrap
		padding: 28px 24px
		font-size: 0

	&__table
		width: 100%

	&__main-td
		color: $color-white
		text-align: center

	&__elem
		display: inline-block
		width: 100%
		max-width: 276px

	&__elem-left
		vertical-align: top

	&__elem-right
		vertical-align: bottom

	&__elem-td
		padding-left: 15px
		text-align: left

	&__elem-img
		max-width: 100%

	&__elem-img-td
		padding-top: 42px

	&__title-img
		display: block
		width: 254px
		max-width: 100%

	&__title-td
		padding-bottom: 21px
		vertical-align: top

	&__title-text
		color: $color-white
		font-size: $font-size-p1
		font-weight: 400
		line-height: $line-height-p2
