.btn
	display: inline-block

	width: 216px

	padding: 17px 20px 19px

	border-radius: $radius-l

	background-color: $color-primary-600

	color: $color-white
	font-size: $font-size-p1
	font-weight: 600
	line-height: $line-height-p1

	text-align: center
	text-decoration: none
	vertical-align: middle
