.card
	&__border
		// border: 1px solid $color-primary-400
		border-radius: $radius-l

	&__btn
		padding: 0 0 20px

	&__td-img
		// height: 246px
		padding-top: 24px
		text-align: right

	&__img
		width: 36px
		height: 36px

	&__name
		height: 72px

	&__box
		padding: 10px 23px 22px
		text-align: center

	&__elem
		display: inline-block
		width: 100%
		max-width: 184px
		padding: 0 7px 12px
		vertical-align: top

	&__elem-td
		display: inline-block
		box-sizing: border-box
		width: 100%
		margin: 0 auto
		padding: 20px
		background-color: $color-primary-500

	&__elem-table
		width: 100%
		text-align: left

	&__name-p
		margin: 0
		color: $color-black
		font-size: $font-size-p1
		font-weight: 400
		line-height: $line-height-p1
		text-align: left

	&__name-price
		width: 75%
		margin: 0
		padding: 8px 0 20px

		float: left

		color: $color-black
		font-size: $font-size-h5
		font-weight: 400
		line-height: $line-height-p1

		text-align: left

	&__title-td
		padding: 40px 19px 14px
		font-size: 0

	&__title-text
		margin: 0
		color: $color-black
		font-size: $font-size-h3
		font-weight: 400
		line-height: $line-height-h2
