.header
	width: 100%
	background-color: $color-white

	&__box
		padding: 29px 30px 26px
		text-align: left

	&__logo
		display: inline-block
		max-width: 154px
		height: 24px
		color: $color-black
		text-align: left
		text-decoration: none

	&__text
		display: inline-block
		width: 50%
		max-width: 400px
		padding: 0 0 20px
		text-align: right
		vertical-align: top

	&__logo-img
		display: block
		width: 154px
		height: 24px

	&__phone
		padding: 0 0 20px
		color: $color-primary-300
		font-size: $font-size-p2
		line-height: $line-height-p1

	&__link
		padding: 0 0 13px
		font-size: $font-size-p2
		line-height: $line-height-p1
		text-decoration: none

	&__number
		font-size: $font-size-h5
		line-height: $line-height-p1

.font-link
	font-size: $font-size-h5
	line-height: $line-height-p1
