.list
	padding: 24px
	// border: 1px solid $color-primary-500
	// border-radius: $radius-l
	background-image: url("https://viktoriya08.github.io/email-template-test/dist/img/card-border.png")
	background-position: center
	background-size: 100% 100%

	&__elem-number-box
		display: inline-table
		width: 36px
		height: 36px
		background-image: url("https://viktoriya08.github.io/email-template-test/dist/img/bg-number.png")
		background-position: center
		background-size: 100% 100%

	&__elem-dot
		display: inline-table
		width: 36px
		height: 36px

	&__elem-p
		padding-left: 20px
		font-size: $font-size-p1
		font-weight: 400
		line-height: $line-height-p1

	&__elem-td
		vertical-align: top

	&__elem-box
		display: inline-block
		width: 100%
		max-width: 410px
		padding: 0 10px
		vertical-align: top

	&__padding
		height: 7px
