// PARAGRAPHS

:where(p:not([class]))
	font-size: var(--font-size)

	&:not(:last-child)
		margin-bottom: fluid(12, 20)

//-----------------------------


// HEADINGS

:where(h2, h3, h4, h5, h6):where(:not([class]))
	--font-family: var(--font-family)
	--t-font-size: var(--font-size)
	--t-font-weight: 600
	--t-line-height: var(--line-height)
	--t-text-transform: none

	font-family: var(--font-family)
	font-size: var(--t-font-size)
	font-weight: var(--t-font-weight)
	line-height: var(--t-line-height)
	text-transform: var(--t-text-transform)
	text-wrap: balance

	&:not(:first-child)
		margin-top: fluid(40, 80)

:where(h2:not([class]))
	--t-font-size: var(--font-size-h2)
	--t-line-height: 1.25

	@include media("max", "mobile-xl")
		--t-line-height: 1.4

	&:not(:last-child)
		margin-bottom: fluid(30, 56)

:where(h3:not([class]))
	--t-font-size: var(--font-size-h3)
	--t-line-height: 1.3

	@include media("max", "mobile-xl")
		--t-line-height: 1.4

	&:not(:last-child)
		margin-bottom: fluid(25, 48)

:where(h4:not([class]))
	--t-font-size: var(--font-size-h4)
	--t-line-height: 1.35

	@include media("max", "mobile-xl")
		--t-line-height: 1.4

	&:not(:last-child)
		margin-bottom: fluid(20, 40)

:where(h5:not([class]))
	--t-font-size: var(--font-size-h5)
	--t-line-height: 1.4

	&:not(:last-child)
		margin-bottom: fluid(15, 32)

:where(h6:not([class]))
	--t-font-size: var(--font-size-h5)
	--t-line-height: 1.4

	&:not(:last-child)
		margin-bottom: fluid(15, 32)

	&:not(:first-child)
		margin-top: fluid(20, 48)

//-----------------------------

// OTHERS

:where(cite:not([class]))
	color: var(--color-neutral-700)
	font-size: var(--font-size-text-m)
	font-style: normal

:where(strong, b):where(:not([class]))
	font-size: var(--font-size)
	font-weight: 600

:where(blockquote:not([class]))
	display: block
	padding-top: 32px
	background-image: url("../img/content/blockquote.svg")
	background-repeat: no-repeat
	background-position: left top
	background-size: 24px

	@include media("max", "tablet")
		padding-top: 0
		padding-left: 32px

	&:not(:last-child)
		margin-bottom: 20px

	p
		font-size: var(--font-size)
		line-height: var(--line-height-xl)

		&:not(:last-child)
			margin-bottom: 12px

:where(mark:not([class]))
	display: block
	padding: fluid(16, 24)
	border-radius: var(--radius-m)
	background-color: var(--color-primary-600)
	color: var(--color-neutral-100)

	&:not(:first-child)
		margin-top: fluid(40, 80)

	:where(h3, h4, h5, h6):where(:not([class]))
		&:not(:last-child)
			margin-bottom: 16px

//-----------------------------


// IMGS

:where(figure):where(:not([class]))
	margin: 0

	&:not(:first-child)
		margin-top: 40px

	&:not(:last-child)
		margin-bottom: 40px

	blockquote
		display: block
		padding-top: 0
		padding-left: fluid(15, 20)
		border-left: 2px solid var(--color-primary-600)
		background-image: none

	img
		width: 100%
		overflow: hidden
		border-radius: var(--radius-m)

		&:not(:last-child)
			margin-bottom: 12px

		+ figcaption
			color: var(--color-neutral-700)
			font-size: var(--font-size-text-m)

:where(img:not([class]))
	margin-bottom: 20px

	&[align]
		overflow: hidden
		border-radius: var(--radius-s)

		@include media("max", "mobile-xl")
			display: block
			float: none

	&[align="left"]
		@include media("min", "mobile-xl")
			margin-right: 20px

	&[align="right"]
		@include media("min", "mobile-xl")
			margin-left: 20px


hr 
	clear: both
	border: none

.video-wrap
	width: 560px
	max-width: 100%
	height: auto
	aspect-ratio: 16/9
	margin-bottom: 20px

	&__video
		width: 100%
		height: 100%

//-----------------------------


// TABLE

:where(table:not([class]))
	min-width: 100%
	border-collapse: collapse
	border: 0
	background-color: transparent
	font-size: var(--font-size-text-m)

	@include media("max", "mobile-xl")
		min-width: 400px
		font-size: 12px

	&[border="1"]
		min-width: 100%

		td, th
			border: 1px solid

		tbody
			td
				&:first-child
					border-left: 0

				&:last-child
					border-right: 0

			tr:last-child
				td
					border-bottom: 0
					

	thead
		th, td
			padding-top: 16px
			padding-bottom: 16px
			border-bottom: 2px solid var(--color-neutral-200)
			background-color: var(--color-neutral-100)
			color: var(--color-neutral-700)
			font-weight: 400
			text-align: left

	tbody 
		tr 
			&:first-child
				td 
					padding-top: 16px


	td, th
		padding: 8px 20px 8px 0
		font-weight: inherit

		&:not([valign]), &[valign="middle"]
			vertical-align: middle

		&[valign="top"]
			vertical-align: top

		&[valign="bottom"]
			vertical-align: bottom

	td
		transition: background .3s ease

.table-wrap
	width: 100%
	padding: 8px 24px
	overflow: auto
	border: 2px solid var(--color-neutral-200)
	border-radius: var(--radius-m)

	// @include media("max", "mobile-xl")
	// 	@include out-wrapper

	&:not(:first-child)
		margin-top: 40px

	&:not(:last-child)
		margin-bottom: 40px

//-----------------------------


// LIST

:where(ul, ol):where(:not([class]))
	&::before
		display: inline-block

	&:not(:last-child)
		margin-bottom: 24px

	ul, ol
		margin-top: 12px
		margin-bottom: 12px
		color: var(--color-neutral-700)

	li
		font-size: var(--font-size)
		line-height: 1.4

		&::before
			margin-right: 16px

		&:not(:first-child)
			margin-top: 12px

:where(ul:not([class]))
	li
		position: relative
		padding-left: 30px

		&::before
			content: ""
			position: absolute
			top: 7px
			left: 0

			display: inline-block

			width: 6px
			height: 6px

			border: 1px solid var(--color-primary-500)
			border-radius: 50%

			background: var(--color-primary-500)

	ul
		li
			&::before
				background-color: transparent

:where(ol:not([class]))
	counter-reset: list

	li
		position: relative
		padding-top: 7px
		padding-bottom: 9px
		padding-left: 55px

		&::before
			//content: counter(list, decimal-leading-zero)
			content: counters(list, ".")
			position: absolute
			top: 0
			left: 0

			display: flex
			align-items: center
			justify-content: center

			width: 40px
			height: 40px

			border-radius: 50%

			background-color: var(--color-neutral-200)

			color: var(--color-neutral-900)

			font-size: 13px

			font-weight: 400

			counter-increment: list

		ol
			li
				ol
					li
						font-size: var(--font-size)

						&::before
							top: -6px
							border-radius: 0
							background-color: transparent

//-----------------------------


// LINK

:where(a:not([class]))
	color: var(--color-primary-500)
	transition: color .3s ease

	&:focus-visible
		outline: 2px solid var(--color-primary-300)
		outline-offset: 3px

	@include hover
		color: var(--color-primary-400)

	&:active
		color: var(--color-primary-600)

//-----------------------------

